<link rel="stylesheet" href="~/css/index.css" />
<div class="main_content col-12">
    <div class="contents col-10">
        <h1 class="tops">Welocme to Our Hospital</h1>
        <div class="middles">
            <p class="p_middles">Thank you for choosing our hospital for you health care needs</p>
            <p class="p_middles">Here, we strive to provide the highest quality medical care to our patients</p>
            <p class="p_middles">Learn more about our services and specialities:</p>
        </div>
        <div class="bottoms col-12">
            <p class="p_bottoms col-12">Internal Medicine</p>
            <p class="p_bottoms_exc col-12">Pediatrics</p>
            <p class="p_bottoms col-12">Surgery</p>
        </div>
        <p class="lower">If you have any questions or need assistance, please don’t hesitate to contact us</p>
    </div>
</div>