<link rel="stylesheet" href="~/css/Success.css">
<nav></nav>
<div class="success_page col-12">
    <div class="sucees_content">
        <p class="p_success">Your booking is Successfully done</p>
        <i class="bi bi-check2-circle i_success"></i>
    </div>
</div>
<footer></footer>